.windowColoring {
  background-color: #cdcece;
}

.windowTopBar {
  background-color: rgb(0, 0, 128);
  border-color: pink;
  padding-top: -10px;
  color: white;
}

.white {
  background-color: white;
}

h2 {
  color: white;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
}
