.windowColoring {
  background-color: #cdcece;
}

.windowTopBar {
  background-color: rgb(0, 0, 128);
  border-color: pink;
  padding-top: -10px;
}

.white {
  background-color: white;
}

h2 {
  color: white;
}
